<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>CLO | Home</title>
</head>

<body class="max-w-screen min-w-screen h-screen m-0 px-0 !py-5 flex justify-center">
    <div class="w-2/5 h-fit bg-white p-8 rounded-lg shadow-lg shadow-gray-400 flex flex-col gap-4">
        <h1 class="text-2xl font-bold mb-2">Credit Limit Optimizer</h1>
        <form action="/predict" method="post" class="flex flex-col gap-4">
            <!-- Customer Age -->
            <div>
                <label for="Customer_Age" class="block text-sm font-medium text-gray-700">Customer Age</label>
                <input type="number" id="Customer_Age" name="Customer_Age"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
            </div>

            <div>
                <label for="Gender" class="block text-sm font-medium text-gray-700">Gender</label>
                <select id="Gender" name="Gender"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
                    <option value="">Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>

            <div>
                <label for="Dependent_count" class="block text-sm font-medium text-gray-700">Dependent Count</label>
                <select id="Dependent_count" name="Dependent_count"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
                    <option value="">Select Count</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div>
                <label for="Education_Level" class="block text-sm font-medium text-gray-700">Education Level</label>
                <select id="Education_Level" name="Education_Level"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
                    <option value="">Select Education Level</option>
                    <option value="Uneducated">Uneducated</option>
                    <option value="High School">High School</option>
                    <option value="College">College</option>
                    <option value="Graduate">Graduate</option>
                    <option value="Post-Graduate">Post-Graduate</option>
                    <option value="Doctorate">Doctorate</option>
                    <option value="Unknown">Unknown</option>
                </select>
            </div>

            <div>
                <label for="Marital_Status" class="block text-sm font-medium text-gray-700">Marital Status</label>
                <select id="Marital_Status" name="Marital_Status"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
                    <option value="">Select Marital Status</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Unknown">Unknown</option>
                </select>
            </div>

            <div>
                <label for="Income_Category" class="block text-sm font-medium text-gray-700">Income Category</label>
                <select id="Income_Category" name="Income_Category"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
                    <option value="">Select Income Category</option>
                    <option value="Less than $40K">Less than $40K</option>
                    <option value="$40K - $60K">$40K - $60K</option>
                    <option value="$60K - $80K">$60K - $80K</option>
                    <option value="$80K - $120K">$80K - $120K</option>
                    <option value="$120K +">$120K +</option>
                    <option value="Unknown">Unknown</option>
                </select>
            </div>

            <div>
                <label for="Card_Category" class="block text-sm font-medium text-gray-700">Card Category</label>
                <select id="Card_Category" name="Card_Category"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
                    <option value="">Select Card Category</option>
                    <option value="Blue">Blue</option>
                    <option value="Silver">Silver</option>
                    <option value="Gold">Gold</option>
                    <option value="Platinum">Platinum</option>
                </select>
            </div>

            <div>
                <label for="Months_on_book" class="block text-sm font-medium text-gray-700">Months on Book</label>
                <input type="number" id="Months_on_book" name="Months_on_book"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
            </div>

            <div>
                <label for="Total_Relationship_Count" class="block text-sm font-medium text-gray-700">Total Relationship
                    Count</label>
                <select id="Total_Relationship_Count" name="Total_Relationship_Count"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
                    <option value="">Select Count</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>

            <div>
                <label for="Months_Inactive_12_mon" class="block text-sm font-medium text-gray-700">Months Inactive 12
                    Mon</label>
                <select id="Months_Inactive_12_mon" name="Months_Inactive_12_mon"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
                    <option value="">Select Months</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>

            <div>
                <label for="Contacts_Count_12_mon" class="block text-sm font-medium text-gray-700">Contacts Count 12
                    Mon</label>
                <select id="Contacts_Count_12_mon" name="Contacts_Count_12_mon"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
                    <option value="">Select Contacts Count</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>

            <div>
                <label for="Credit_Limit" class="block text-sm font-medium text-gray-700">Credit Limit</label>
                <input type="number" id="Credit_Limit" name="Credit_Limit"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
            </div>

            <div>
                <label for="Total_Revolving_Bal" class="block text-sm font-medium text-gray-700">Total Revolving
                    Bal</label>
                <input type="number" id="Total_Revolving_Bal" name="Total_Revolving_Bal"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
            </div>

            <div>
                <label for="Avg_Open_To_Buy" class="block text-sm font-medium text-gray-700">Avg Open To Buy</label>
                <input type="number" id="Avg_Open_To_Buy" name="Avg_Open_To_Buy"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
            </div>

            <div>
                <label for="Total_Amt_Chng_Q4_Q1" class="block text-sm font-medium text-gray-700">Total Amt Chng Q4
                    Q1</label>
                <input type="number" id="Total_Amt_Chng_Q4_Q1" name="Total_Amt_Chng_Q4_Q1"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
            </div>

            <div>
                <label for="Total_Trans_Amt" class="block text-sm font-medium text-gray-700">Total Trans Amt</label>
                <input type="number" id="Total_Trans_Amt" name="Total_Trans_Amt"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
            </div>

            <div>
                <label for="Total_Trans_Ct" class="block text-sm font-medium text-gray-700">Total Trans Ct</label>
                <input type="number" id="Total_Trans_Ct" name="Total_Trans_Ct"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
            </div>

            <div>
                <label for="Total_Ct_Chng_Q4_Q1" class="block text-sm font-medium text-gray-700">Total Ct Chng Q4
                    Q1</label>
                <input type="number" id="Total_Ct_Chng_Q4_Q1" name="Total_Ct_Chng_Q4_Q1"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" required>
            </div>

            <div>
                <label for="Avg_Utilization_Ratio" class="block text-sm font-medium text-gray-700">Avg Utilization
                    Ratio</label>
                <input type="number" id="Avg_Utilization_Ratio" name="Avg_Utilization_Ratio"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm" step="0.01" required>
            </div>

            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md">Predict</button>
        </form>
        {% if prediction %}
        <div class="mt-4 p-4 bg-green-100 text-green-800 rounded-md">
            {{ prediction }}
        </div>
        {% elif credit_limit %}
        <div class="mt-4 p-4 bg-green-100 text-green-800 rounded-md">
            {{ credit_limit }}
        </div>
        {% elif error %}
        <div class="mt-4 p-4 bg-red-100 text-red-800 rounded-md">
            {{ error }}
        </div>
        {% endif %}
    </div>
</body>

</html>